body {
  background-color: black;
}
  
.box {
  display: inline-block;       
  border: none;
  width: 8px;
  height: 8px;
  margin: 0px;
  }

.off {
  background-color: #FFF;
}

.on {
  background-color: rgb(75, 0, 160);
}
  
.box:hover { 
  background-color: rgb(223, 189, 0);
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}